/* walletinfo.css */

.wallet-info {
  margin-bottom: 20px;
  width: 100%;
}

.wallet-info h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.wallet-info label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.wallet-info input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.wallet-info button {
  background-color: blue;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}