.applied-card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.applied-job-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}