.manage-jobs-container {
  margin: 20px;
}

h2 {
  color: #333;
}

.job-list {
  list-style: none;
  padding: 0;
}

.job-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.job-details {
  flex-grow: 1;
}

.job-actions button {
  margin-right: 10px;
  cursor: pointer;
}

.job-actions-container {
  position: absolute;
  top: 10%;
  background: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  left: 30%;
}

/* Add this to your CSS file */
.applicant-list {
  list-style: none;
  padding: 0;
}

.overlay {
  height: 100vh;
  width: 100%;
  background: #000000bf;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.applicant-container {
  position: absolute;
  top: 20px;
  left: 35%;
  background: #ffffffb8;
  backdrop-filter: blur(1px);
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
}

.applicant-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.applicant-item button {
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -1;
}