/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


body {
  background: linear-gradient(to right, #ffffff, #9a7d7d); /* Adjust the colors as needed */
  color: #000000;
  font-family: 'Poppins', sans-serif;
}